@import 'settings/colors';
@import 'settings/dimensions';
@import 'settings/typography';

.TableCell {
  border-bottom: 1px solid var(--color-element-light);
  color: var(--color-text-mid);
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  padding: var(--spacing-s) var(--spacing-m);
  vertical-align: top;
}

tbody tr:last-child .TableCell {
  border-bottom: none;
}

.TableCell--head {
  background-color: var(--color-element-lightest);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
}

.TableCell--head__sorting {
  color: var(--color-text-dark);
}
