@import 'settings/typography';
@import 'settings/colors';

.DocPage {
  font-family: var(--font-stack-primary);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-dark);
}

.DocPage table {
  border-collapse: collapse;
}

.DocPage td {
  padding: 16px;
  vertical-align: bottom;
  border: 0;
  border-bottom: 1px solid var(--color-element-light);
}

.DocPage tr:last-child td {
  border-bottom: 0;
}

.DocPage th {
  background: var(--color-element-lightest);
  color: var(--color-text-light);
  padding: 10px 16px;
  text-align: left;
}
