@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.InlineEntryCard {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  position: relative;
  padding: 0px calc(1rem * (4 / var(--font-base-default))) 0px
    calc(1rem * (12 / var(--font-base-default)));
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: var(--font-stack-primary);
  transition: width var(--transition-duration-default)
    var(--transition-easing-default);
}

.InlineEntryCard__skeleton-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  z-index: 1;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 calc(1rem * (3 / var(--font-base-default)));
}

.InlineEntryCard__text-wrapper {
  max-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InlineEntryCard__status-indicator {
  width: calc(1rem * (4 / var(--font-base-default)));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.InlineEntryCard__status-indicator--published {
  outline: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-green-dark);
  background: var(--color-green-mid);
}

.InlineEntryCard__status-indicator--draft {
  outline: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-orange-dark);
  background: var(--color-orange-mid);
}

.InlineEntryCard__status-indicator--archived {
  outline: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-red-dark);
  background: var(--color-red-mid);
}

.InlineEntryCard__status-indicator--changed {
  outline: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-blue-dark);
  background: var(--color-blue-mid);
}

.InlineEntryCard__status-indicator {
  height: 100%;
  width: calc(1rem * (4 / var(--font-base-default)));
}

.InlineEntryCard__actions {
  display: inline-flex;
  position: static;
  margin-left: calc(1rem * (6 / var(--font-base-default)));
}

.InlineEntryCard__spinner--enter {
  opacity: 0;
}

.InlineEntryCard__spinner--enter-active {
  opacity: 1;
  transition: opacity var(--transition-duration-short)
    var(--transition-easing-default);
}

.InlineEntryCard__spinner--exit {
  opacity: 1;
}

.InlineEntryCard__spinner--exit-active {
  opacity: 0;
  transition: opacity var(--transition-duration-short)
    var(--transition-easing-default);
}
