@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';
@import 'settings/transitions';
@import 'settings/shadows';

.TextInput {
  display: flex;
}

.TextInput__input {
  composes: focus-border--default from './../../styles/settings/a11y.css';
  outline: none;
  background-color: var(--color-white);
  border: 1px solid var(--color-element-mid);
  max-height: calc(1rem * (40 / var(--font-base-default)));
  color: var(--color-text-mid);
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  padding: calc(1rem * (10.5 / var(--font-base-default)));
  margin: 0;
  width: 100%;

  &::-webkit-input-placeholder {
    color: var(--color-ice-dark);
  }

  &:active {
    border-color: var(--color-primary);
  }
}

.TextInput__input:focus {
  z-index: 1;
}

.TextInput--small {
  width: var(--input-width-small);
}

.TextInput--medium {
  width: var(--input-width-medium);
}

.TextInput--large {
  width: var(--input-width-large);
}

.TextInput--full {
  width: 100%;
}

.TextInput--is-disabled {
  & .TextInput__input {
    background: var(--color-element-lightest);

    &:focus,
    &:active {
      border-color: var(--color-element-mid);
    }
  }
}

.TextInput--negative {
  & .TextInput__input {
    border-color: var(--color-negative);
    &:focus {
      box-shadow: var(--glow-negative);
    }
  }
}

.TextInput__copy-button {
  & > button {
    border-left: none;
    height: 100%;
  }

  &:focus-within {
    z-index: 1;
  }
}
