@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';
@import 'settings/transitions';
@import 'settings/shadows';
@import 'settings/z-index';
@import 'settings/borders';

.TextInput {
  display: flex;
}

.TextInput__input {
  composes: focus-border--default from './../../styles/settings/a11y.css';
  outline: none;
  box-shadow: var(--inset-box-shadow-default);
  background-color: var(--color-white);
  border: 1px solid var(--color-element-mid);
  border-radius: var(--border-radius-medium);
  max-height: calc(1rem * (40 / var(--font-base-default)));
  color: var(--color-text-mid);
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  padding: calc(1rem * (10.5 / var(--font-base-default)));
  margin: 0;
  width: 100%;

  -webkit-appearance: textfield;

  &::placeholder {
    color: var(--color-text-lightest);
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  &:active {
    border-color: var(--color-primary);
  }
}

.TextInput__input:focus {
  z-index: var(--z-index-default);
}

.TextInput--small {
  width: var(--input-width-small);
}

.TextInput--medium {
  width: var(--input-width-medium);
}

.TextInput--large {
  width: var(--input-width-large);
}

.TextInput--full {
  width: 100%;
}

.TextInput--disabled {
  & .TextInput__input {
    background: var(--color-element-lightest);

    &:focus,
    &:active {
      border-color: var(--color-element-mid);
    }
  }
}

.TextInput--negative {
  & .TextInput__input {
    border-color: var(--color-negative);
    &:focus {
      box-shadow: var(--glow-negative);
    }
  }
}

.TextInput--with-copy-button {
  & .TextInput__input {
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
  }
}

.TextInput__copy-button {
  & button {
    border-left: none;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;

    &:hover {
      background-color: var(--color-element-lightest);
    }

    &:focus {
      box-shadow: var(--glow-primary);
    }
  }

  &:focus-within {
    z-index: var(--z-index-default);
  }
}
