@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.TextLink {
  /* Composes only works on a single selector */
  composes: focus-outline--default from './../../styles/settings/a11y.css';
}

.TextLink,
.TextLink:link {
  display: inline;
  align-items: center;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  text-decoration: none;
  background: none;
  transition: color var(--transition-duration-short)
    var(--transition-easing-default);
  appearance: none;
  white-space: normal;
  text-align: left;
  cursor: pointer;
  font-weight: var(--font-weight-medium);

  & > span {
    outline: 0;
    display: inherit;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.TextLink--primary,
.TextLink--primary:link {
  color: var(--color-primary);
}

.TextLink--primary:hover,
.TextLink--primary:focus {
  color: var(--color-blue-dark);

  & .TextLink__icon {
    fill: var(--color-blue-dark);
  }
}

.TextLink--positive,
.TextLink--positive:link {
  color: var(--color-green-base);
}

.TextLink--positive:hover,
.TextLink--positive:focus {
  color: var(--color-green-dark);

  & .TextLink__icon {
    fill: var(--color-green-dark);
  }
}

.TextLink--negative,
.TextLink--negative:link {
  color: var(--color-red-base);
}

.TextLink--negative:hover,
.TextLink--negative:focus {
  color: var(--color-red-dark);

  & .TextLink__icon {
    fill: var(--color-red-dark);
  }
}

.TextLink--secondary,
.TextLink--secondary:link {
  color: var(--gray-700);
}

.TextLink--secondary:hover,
.TextLink--secondary:focus {
  color: var(--gray-900);

  & .TextLink__icon {
    fill: var(--gray-900);
  }
}

.TextLink--muted,
.TextLink--muted:link {
  color: var(--color-text-light);
}

.TextLink--muted:hover,
.TextLink--muted:focus {
  color: var(--color-text-mid);

  & .TextLink__icon {
    fill: var(--color-text-mid);
  }
}

.TextLink--white,
.TextLink--white:link {
  color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-white);
    opacity: 0.75;
  }
}

.TextLink--disabled,
.TextLink--disabled:link {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed;
  }

  &.TextLink--primary:hover {
    & .TextLink__icon {
      fill: var(--color-blue-base);
    }

    color: var(--color-blue-base);
  }

  &.TextLink--positive:hover {
    & .TextLink__icon {
      fill: var(--color-green-base);
    }

    color: var(--color-green-base);
  }

  &.TextLink--negative:hover {
    & .TextLink__icon {
      fill: var(--color-red-base);
    }

    color: var(--color-red-base);
  }

  &.TextLink--secondary:hover {
    & .TextLink__icon {
      fill: var(--color-text-mid);
    }

    color: var(--color-text-mid);
  }

  &.TextLink--muted:hover {
    & .TextLink__icon {
      fill: var(--color-text-light);
    }

    color: var(--color-text-light);
  }

  &.TextLink--white:hover {
    & .TextLink__icon {
      fill: var(--color-white);
    }
    opacity: 0.5;
    color: var(--color-white);
  }
}

.TextLink__icon {
  vertical-align: middle;
  transition: fill var(--transition-duration-short)
    var(--transition-easing-default);
  position: relative;
  bottom: 1px; /* For optical alignment of icon with TextLink text */
}

.TextLink__icon-wrapper {
  display: inline;
  margin-right: 4px;
}

.TextLink__icon-wrapper--right {
  display: inline;
  margin-left: 4px;
}
