@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/borders';

.CopyButton {
  display: inline-block;
  position: relative;
}

.CopyButton__button {
  composes: focus-outline--default from './../../styles/settings/a11y.css';
  height: calc(1rem * (40 / var(--font-base-default)));
  width: calc(1rem * (40 / var(--font-base-default)));
  border: 1px solid var(--color-element-mid);
  background: var(--color-white);
  flex-basis: 100%;
  transition: background var(--transition-duration-short)
    var(--transition-easing-default);
  padding: 0;

  &:hover {
    cursor: pointer;
    background-color: var(--color-element-lightest);
  }

  &:active {
    transition: none;
    background-color: var(--color-element-light);
  }

  &:focus {
    box-shadow: var(--glow-muted);
  }
  & > svg {
    margin-top: calc(1rem * (3 / var(--font-base-default)));
  }
}

.CopyButton__text {
  composes: sr-only from './../../styles/settings/helpers.css';
}

.CopyButton__TabFocusTrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
}
