@import 'settings/colors';
@import 'settings/shadows';
@import 'settings/borders';

.focus-outline--default:focus {
  outline: 1px solid var(--color-primary);
  border-radius: var(--border-radius-small);
  box-shadow: var(--glow-primary);
}

.focus-border--default:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  box-shadow: var(--glow-primary);
}
