@import '@contentful/f36-tokens/dist/css/colors/colors-blue.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-contrast.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-coral.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-elements.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-green.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-ice.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-mint.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-orange.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-peach.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-red.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-semantic.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-text.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-white.css';
@import '@contentful/f36-tokens/dist/css/colors/colors-purple.css';
