@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.HelpText {
  display: block;
  margin: 0;
  font-family: var(--font-stack-primary);
  color: var(--color-text-light);
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
}
