version: 2

registries:
  npm-npmjs:
    type: npm-registry
    url: https://registry.npmjs.org
    token: '${{secrets.NPM_REGISTRY_REGISTRY_NPMJS_ORG_TOKEN}}'
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.NPM_REGISTRY_REGISTRY_GH_ORG_TOKEN}}

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    target-branch: v5
    labels:
      - dependencies
    commit-message:
      prefix: chore
    registries:
      - npm-npmjs
      - npm-github
    versioning-strategy: widen

    cooldown:
      default-days: 15