@import 'settings/borders';
@import 'settings/colors';
@import 'settings/dimensions';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/z-index';

:root {
  --tooltip-chevron-size: calc(1rem * (10 / var(--font-base-default)));
}

.Tooltip__target-wrapper {
  display: inline-block;
  position: relative;
}

.Tooltip {
  background: var(--color-contrast-mid);
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
  line-height: var(--line-height-default);
  padding: var(--spacing-xs) calc(1rem * (10 / var(--font-base-default)));
  border-radius: var(--border-radius-small);
  white-space: normal;
}

.Tooltip--hidden {
  visibility: hidden;
  pointer-events: none;
  z-index: var(--z-index-negative);
}

.TooltipContainer > button[disabled] {
  pointer-events: none;
}

.Tooltip__arrow {
  position: absolute;
}

.Tooltip__arrow[data-placement*='top'] {
  bottom: 0;
  left: 0;
  margin-bottom: calc(-1 * ((1rem * (10 / var(--font-base-default))) / 2));
}

.Tooltip__arrow[data-placement*='right'] {
  left: 0;
  margin-left: calc(-1 * ((1rem * (10 / var(--font-base-default))) / 2));
}

.Tooltip__arrow[data-placement*='bottom'] {
  left: 0;
  margin-top: calc(-1 * ((1rem * (10 / var(--font-base-default))) / 2));
  top: 0;
}

.Tooltip__arrow[data-placement*='left'] {
  margin-right: calc(-1 * ((1rem * (10 / var(--font-base-default))) / 2));
  right: 0;
}

.Tooltip__arrow::before {
  content: '';
  display: block;
  height: var(--tooltip-chevron-size);
  width: var(--tooltip-chevron-size);
  background-color: var(--color-contrast-mid);
  transform: rotate3d(0, 0, 1, 45deg);
  z-index: var(--z-index-negative);
}
