@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';
@import 'settings/borders';

.Note {
  padding: var(--spacing-m);
  margin: 0;
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-default);
  font-size: var(--font-size-m);
  color: var(--color-text-base);
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius-medium);
}

.Note__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-l);
  margin-bottom: var(--spacing-xs);
  color: var(--color-text-dark);
  line-height: var(--line-height-l);
}

.Note__content {
  width: 100%;
  line-height: var(--line-height-m);
}

.Note--primary {
  background-color: var(--color-blue-lightest);
  border: 1px solid var(--color-blue-light);
}

.Note--negative {
  background-color: var(--color-red-lightest);
  border: 1px solid var(--color-red-light);
}

.Note--positive {
  background-color: var(--color-green-lightest);
  border: 1px solid var(--color-green-light);
}

.Note--warning {
  background: var(--color-orange-lightest);
  border: 1px solid var(--orange-300);
}

.Note--hasCloseButton {
  padding-right: var(--spacing-s);
}

.Note--hasCloseButton .Note__info {
  margin-right: var(--spacing-s);
}

.Note__icon {
  margin-right: var(--spacing-s);
  display: flex;
}

.Note__dismiss {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0 0 auto auto;
  pointer-events: all;
  display: flex;
}
