@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';

.Note {
  padding: var(--spacing-s);
  padding-right: var(--spacing-l);
  margin: 0;

  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-default);
  font-size: var(--font-size-m);
  color: var(--color-text-mid);
  display: flex;
  flex-direction: row;
}

.Note--primary {
  background-color: var(--color-blue-lightest);
  border: 1px solid var(--color-blue-light);
}
.Note--primary a {
  color: var(--color-blue-dark);
}

.Note--negative {
  background-color: var(--color-red-lightest);
  border: 1px solid var(--color-red-light);
}
.Note--negative a {
  color: var(--color-red-dark);
}

.Note--positive {
  background-color: var(--color-green-lightest);
  border: 1px solid var(--color-green-light);
}
.Note--positive a {
  color: var(--color-green-dark);
}

.Note--warning {
  background: var(--color-orange-lightest);
  border: 1px solid var(--color-orange-light);
}

.Note--warning a {
  color: var(--color-orange-dark);
}

.Note__title {
  font-weight: var(--font-weight-demi-bold);
}

.Note__icon {
  margin-right: var(--spacing-s);
  display: flex;
  margin-top: 1px;
}
