@import '~@contentful/f36-tokens/dist/css/index.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: var(--line-height-default);
  margin: 0;
  min-width: 1280px;
}

pre {
  margin: 0;
  white-space: normal;
  font-family: var(--font-stack-primary);
}

pre.prism-code {
  font-family: var(--font-stack-monospace);
}

.prism-code {
  font-size: var(--font-size-m);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

code {
  font-family: var(--font-stack-monospace);
  color: var(--color-blue-base);
  font-size: var(--font-size-m);
  white-space: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: var(--font-weight-medium);
}
