@import '../../../../node_modules/@contentful/forma-36-tokens/dist/css/index.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-normal);
  font-size: 16px;
  line-height: var(--line-height-default);
  margin: 0;
  min-width: 1280px;
}

pre {
  margin: 0;
  white-space: normal;
}
