@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';
@import 'settings/transitions';
@import 'settings/shadows';
@import 'settings/borders';

.Textarea {
  display: flex;
}

.Textarea__textarea {
  composes: focus-border--default from './../../styles/settings/a11y.css';
  resize: vertical;
  outline: none;
  box-shadow: var(--inset-box-shadow-default);
  border: 1px solid var(--color-element-mid);
  border-radius: var(--border-radius-medium);
  min-height: calc(1rem * (40 / var(--font-base-default)));
  color: var(--color-text-mid);
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
  padding: calc(1rem * (11 / var(--font-base-default)));
  flex-basis: 100%;

  &::-webkit-input-placeholder {
    color: var(--color-ice-dark);
  }

  &:active {
    border-color: var(--color-primary);
  }
}

.Textarea--small {
  width: var(--input-width-small);
}

.Textarea--medium {
  width: var(--input-width-medium);
}

.Textarea--large {
  width: var(--input-width-large);
}

.Textarea--full {
  width: 100%;
}

.Textarea--disabled {
  & .Textarea__textarea {
    background: var(--color-element-lightest);
  }
}

.Textarea--negative {
  & .Textarea__textarea {
    border-color: var(--color-negative);
    &:focus {
      box-shadow: var(--glow-negative);
    }
  }
}
