@import 'settings/colors';
@import 'settings/dimensions';
@import 'settings/transitions';
@import 'settings/shadows';
@import 'settings/borders';

.Select__wrapper {
  position: relative;
  display: block;
}

.Select {
  width: 100%;
  display: block;
  appearance: none;
  padding: calc(1rem * (10 / var(--font-base-default)));
  padding-right: calc(1rem * (39 / var(--font-base-default)));
  background-color: var(--color-white);
  color: var(--color-text-mid);
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  border: 1px solid var(--color-element-mid);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--inset-box-shadow-default);
  height: calc(1rem * (40 / var(--font-base-default)));
  &:focus {
    outline: 0;
  }
  composes: focus-border--default from './../../styles/settings/a11y.css';
  cursor: pointer;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
    display: none;
  }
}

.Select--disabled {
  background-color: var(--color-element-lightest);
  cursor: not-allowed;
  color: var(--color-text-light);

  &:focus,
  &:active {
    border-color: var(--color-element-mid);
  }
}

.Select--small {
  width: var(--input-width-small);
}

.Select--medium {
  width: var(--input-width-medium);
}

.Select--large {
  width: var(--input-width-large);
}

.Select--full {
  width: 100%;
}

.Select--auto {
  width: auto;
}

.Select--negative {
  border-color: var(--color-negative);
  &:focus {
    border-color: var(--color-negative);
    box-shadow: var(--glow-negative);
  }
  &.Select--disabled {
    border-color: var(--color-red-light);
  }
}

.Select__icon {
  position: absolute;
  right: calc(1rem * (12 / var(--font-base-default)));
  top: 50%;
  margin-top: -9px;
  pointer-events: none;
}
