@import 'settings/dimensions';
@import 'settings/colors';
@import 'settings/shadows';

.autocompleteDropdown {
  display: block;
}

.autocompleteInput {
  display: flex;
}

.autocompleteInputNegative input {
  border-color: var(--color-negative);
}

.autocompleteInputNegative input:focus {
  box-shadow: var(--glow-negative);
}

.autocompleteInput input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.autocompleteInput input::-ms-clear {
  display: none;
}

.autocompleteInput .inputIconButton {
  position: relative;
  margin-left: calc(-1 * var(--spacing-xl));
}

.validationMessage {
  position: absolute;
  top: calc(40px + var(--spacing-s));
}
