@import 'settings/dimensions';

.autocompleteDropdown {
  display: block;
  position: relative;
}

.autocompleteInput {
  display: flex;
}

.autocompleteInput input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.autocompleteInput input::-ms-clear {
  display: none;
}

.autocompleteInput .inputIconButton {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
}
