@import 'settings/colors';
@import 'settings/borders';

.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table--inline {
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 0 1px var(--color-element-light);
}

.Table--inline th:first-child {
  border-top-left-radius: var(--border-radius-medium);
}

.Table--inline th:last-child {
  border-top-right-radius: var(--border-radius-medium);
}
