@import 'settings/typography';
@import 'settings/dimensions';

.ModalControls {
  width: calc(100% - 2 * var(--spacing-l));
  display: flex;
  flex-direction: row;
  padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
  margin-top: calc(-1 * var(--spacing-xs));
}

.ModalControls--right {
  justify-content: flex-end;
}

.ModalControls.ModalControls--right button {
  margin-right: 0;
  margin-left: var(--spacing-m);

  &:first-child {
    margin-left: 0;
  }
}

.ModalControls button {
  margin-right: var(--spacing-m);

  &:last-child {
    margin-right: 0;
  }
}
