@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.ReferenceCard {
  display: block;
  position: relative;
  box-sizing: border-box;
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
  color: var(--color-text-dark);
  height: calc(1rem * (135 / var(--font-base-default)));
}

.ReferenceCard--is-loading {
  overflow: hidden;
}

.ReferenceCard__meta {
  display: flex;
}

.ReferenceCard__content-type {
  flex: 1 1 0;
  padding-right: calc(1rem * (20 / var(--font-base-default)));
  margin-bottom: calc(1rem * (4 / var(--font-base-default)));
  color: var(--color-text-light);
  font-size: var(--font-size-l);
  word-break: break-word;
}

.ReferenceCard__actions {
  margin-left: calc(1rem * (8 / var(--font-base-default)));
}

.ReferenceCard__content {
  display: flex;
}

.ReferenceCard__body {
  flex: 1 1 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.ReferenceCard__title {
  margin: 0;
  font-size: var(--font-size-l);
  line-height: var(--line-height-default);
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReferenceCard__description {
  margin: calc(1rem * (4 / var(--font-base-default))) 0 0;
  line-height: var(--line-height-default);
  word-break: break-word;
  white-space: initial;
  font-size: var(--font-size-l);
}

.ReferenceCard__thumbnail {
  height: 70px;
  width: 70px;
  background-color: var(--color-element-lightest);
  margin: 0 0 0 calc(1rem * (20 / var(--font-base-default)));
  padding: 0;
}

.ReferenceCard__thumbnail img {
  display: block;
}

.ReferenceCard__actions {
  margin-left: calc(1rem * (10 / var(--font-base-default)));
}
