version: 2.1

orbs:
  docker: circleci/docker@2.1.3
  node: circleci/node@5.0.2

jobs:
  build:
    docker:
      - image: cimg/node:lts-browsers
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Build packages
          command: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - packages/components/**/dist
            - packages/core/dist
            - packages/f36-docs-utils/dist
            - packages/forma-36-react-components/dist
            - packages/forma-36-tokens/dist

  analyze_code:
    docker:
      - image: cimg/node:lts
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Prettier
          command: yarn prettier:check
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Check types
          command: yarn tsc

  test:
    docker:
      - image: cimg/node:lts
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Test
          command: yarn test

  check-links:
    docker:
      - image: cimg/node:lts-browsers
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Build Next.js website
          command: yarn docs:next:build
      - run:
          name: Run production version of the website locally
          command: yarn docs:next:start-prod
          background: true
      - run:
          name: Wait for localhost:3000 to be ready
          command: yarn wait-on http://localhost:3000
      - run:
          name: Run links checker
          command: yarn blc http://localhost:3000 -ro --exclude "https://medium.com/contentful-design" --exclude "https://github.com/contentful/forma-36" --exclude "https://www.figma.com/@contentful"

  deploy_chromatic:
    docker:
      - image: cimg/node:lts
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Storybook
          command: yarn storybook:build
      - run:
          name: Chromatic
          command: yarn chromatic

  release:
    docker:
      - image: cimg/node:lts
    working_directory: ~/circleci-f36-build
    resource_class: xlarge
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - add_ssh_keys:
          fingerprints:
            - '2b:9f:13:79:d8:7b:f5:38:43:8f:3d:a8:7d:53:22:b2'
      - run: git config --global user.email ${GITHUB_EMAIL}
      - run: git config --global user.name ${GITHUB_USER}
      - run:
          name: Generate changelogrc
          command: yarn changelog:gen
      - run:
          name: Generate packages changelogs
          command: yarn changeset version
      - run:
          name: Publish packages and create releases
          command: yarn run changeset:publish

  changelog:
    docker:
      - image: cimg/node:lts
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - node/install-packages:
          pkg-manager: yarn
      - add_ssh_keys:
          fingerprints:
            - '2b:9f:13:79:d8:7b:f5:38:43:8f:3d:a8:7d:53:22:b2'
      - run: git config --global user.email ${GITHUB_EMAIL}
      - run: git config --global user.name ${GITHUB_USER}
      - run:
          name: Generate changelog files
          command: yarn changelog:write
      - run:
          name: Commit changelog files
          command: |
            git add . && yarn run pretty:quick
            git diff --staged --quiet || git commit -am "docs: update changelog on repository and website" && git push origin ${CIRCLE_BRANCH}

workflows:
  version: 2
  f36-build:
    jobs:
      - build
      - analyze_code:
          requires:
            - build
      - test:
          requires:
            - build
      - check-links:
          requires:
            - build
      - deploy_chromatic:
          requires:
            - build
            - analyze_code
            - test
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/
      - release:
          requires:
            - build
            - analyze_code
            - test
          filters:
            branches:
              only:
                - main
  f36-changelog:
    triggers:
      - schedule:
          cron: '30 1 * * *'
          filters:
            branches:
              only:
                - main
    jobs:
      - changelog
