version: 2.1

orbs:
  docker: circleci/docker@1.0.1

cache-key: &cache-key
  key: dependency-cache-primary-{{ arch }}-yarn-packages-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}

commands:
  yarn_install:
    steps:
      - restore_cache: *cache-key
      - run: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc'
      - run: yarn install --frozen-lockfile --cache-folder ~/.cache/yarn
      - save_cache:
          <<: *cache-key
          paths:
            - ~/.cache/yarn
  check-changed-files-or-halt:
    parameters:
      pattern:
        type: string
    steps:
      - run: git show -m HEAD --name-only --pretty="" | egrep -q '<< parameters.pattern >>' || circleci step halt

jobs:
  build:
    docker:
      - image: circleci/node:14.15.0-browsers
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - yarn_install
      - run:
          name: Lerna build
          command: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - packages/components/**/dist
            - packages/core/dist
            - packages/f36-docs-utils/dist
            - packages/forma-36-react-components/dist
            - packages/forma-36-tokens/dist
            - packages/forma-36-website/public

  analyze_code:
    docker:
      - image: circleci/node:14.15.0-browsers
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - yarn_install
      - run:
          name: Prettier
          command: yarn prettier:check
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Check types
          command: yarn tsc

  test:
    docker:
      - image: circleci/node:14.15.0-browsers
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - yarn_install
      - run:
          name: Test
          command: yarn test

  deploy_chromatic:
    docker:
      - image: circleci/node:14.15.0-browsers
    resource_class: xlarge
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - check-changed-files-or-halt:
          pattern: ^(packages)|(.js|jsx|ts|tsx|css|scss)$
      - yarn_install
      - run:
          name: Storybook
          command: yarn storybook:build
      - run:
          name: Chromatic
          command: yarn chromatic

  release:
    docker:
      - image: circleci/node:14.15.0-browsers
    working_directory: ~/circleci-f36-build
    steps:
      - checkout
      - attach_workspace:
          at: ~/circleci-f36-build
      - yarn_install
      - add_ssh_keys:
          fingerprints:
            - '2b:9f:13:79:d8:7b:f5:38:43:8f:3d:a8:7d:53:22:b2'
      - run: git config --global user.email ${GITHUB_EMAIL}
      - run: git config --global user.name ${GITHUB_USER}
      - run:
          name: Build
          command: yarn build
      - run:
          name: Deploy
          command: yarn lerna publish --no-private --exact --canary --no-git-tag-version --no-push --preid next-v4-$CIRCLE_BUILD_NUM --dist-tag next-v4 --force-publish --no-changelog --yes

workflows:
  version: 2
  f36-build:
    jobs:
      - build
      - analyze_code:
          requires:
            - build
      - test:
          requires:
            - build
      - deploy_chromatic:
          requires:
            - build
            - analyze_code
            - test
          filters:
            branches:
              # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
              ignore: /pull\/[0-9]+/
      - release:
          requires:
            - build
            - analyze_code
            - test
          filters:
            branches:
              only:
                - master
                - forma-v4
