version: 2.1

orbs:
  docker: circleci/docker@1.0.1

cache-key: &cache-key
  key: dependency-cache-primary-{{ arch }}-yarn-packages-{{ checksum ".nvmrc" }}-{{ checksum "yarn.lock" }}

commands:
  yarn_install:
    steps:
      - restore_cache: *cache-key
      - run: 'echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc'
      - run: yarn install --frozen-lockfile --cache-folder ~/.cache/yarn
      - save_cache:
          <<: *cache-key
          paths:
            - ~/.cache/yarn
  check-changed-files-or-halt:
    parameters:
      pattern:
        type: string
    steps:
      - run: git show -m HEAD --name-only --pretty="" | egrep -q '<< parameters.pattern >>' || circleci step halt

jobs:
  lint-and-test:
    docker:
      - image: circleci/node:14.15.0-browsers
    resource_class: xlarge
    steps:
      - checkout
      - yarn_install
      - run:
          name: Prettier
          command: yarn prettier:check
      - run:
          name: Build
          command: yarn build
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Check Types
          command: yarn tsc
      - run:
          name: Test
          command: yarn test

  chromatic-deployment:
    docker:
      - image: circleci/node:14.15.0-browsers
    resource_class: xlarge
    steps:
      - checkout
      - check-changed-files-or-halt:
          pattern: ^(packages)|(.js|jsx|ts|tsx|css|scss)$
      - yarn_install
      - run: yarn run storybook:build
      - run: yarn run chromatic --project-token=${CHROMATIC_PROJECT_TOKEN} --exit-zero-on-changes

  release:
    docker:
      - image: circleci/node:14.15.0-browsers
    steps:
      - checkout
      - yarn_install
      - run: git config --global user.email ${GITHUB_EMAIL}
      - run: git config --global user.name ${GITHUB_USER}
      - run:
          name: Build
          command: yarn build
      - run:
          name: Deploy
          command: yarn lerna publish --no-private --conventional-commits --conventional-prerelease=@contentful/forma-36-react-datepicker,@contentful/forma-36-react-timepicker --create-release github --yes

workflows:
  version: 2
  commit-check:
    jobs:
      - lint-and-test
      - chromatic-deployment:
          requires:
            - lint-and-test
      - release:
          filters:
            branches:
              only: master
          requires:
            - lint-and-test
            - chromatic-deployment
