@import 'settings/colors';

.ProductIconContainer {
  display: block;
  flex-shrink: 0;
}

.ProductIconContainer--small {
  height: 18px;
  width: 18px;
  max-width: 18px;
  max-height: 18px;
}

.ProductIconContainer--medium {
  height: 24px;
  width: 24px;
  max-width: 24px;
  max-height: 24px;
}

.ProductIconContainer--large {
  height: 32px;
  width: 32px;
  max-width: 32px;
  max-height: 32px;
}
.ProductIconContainer--xlarge {
  height: 48px;
  width: 48px;
  max-width: 48px;
  max-height: 48px;
}

.ProductIconContainer--trimmed {
  width: auto;
}

.ProductIcon {
  width: 100%;
  height: 100%;
  display: block;
  fill: var(--color-positive);
}

.ProductIcon--positive {
  fill: var(--color-positive);
}

.ProductIcon--white {
  fill: var(--color-white);
}
