@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.Heading {
  display: block;
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-demi-bold);
  color: var(--color-text-dark);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-default);
  text-rendering: optimizeLegibility;
  margin: 0;
}
