@import 'settings/dimensions';

.EmptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.EmptyState_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EmptyState_illustration {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.EmptyState .EmptyState_element {
  max-width: calc(1rem * (500 / var(--font-base-default)));
  margin-bottom: var(--spacing-m);
}
.EmptyState_paragraph {
  text-align: center;
}
