@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.DisplayText {
  display: block;
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-demi-bold);
  color: var(--color-text-dark);
  line-height: var(--line-height-condensed);
  text-rendering: optimizeLegibility;
  margin: 0;
}

.DisplayText--default {
  font-size: var(--font-size-2xl);
}

.DisplayText--large {
  font-size: var(--font-size-3xl);
}
