@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.ListItem {
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  line-height: var(--line-height-default);
  list-style-type: initial;
}

.ListItem--nested-list {
  list-style: none;
}
