@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/borders';
@import 'settings/shadows';

.Card {
  display: block;
  padding: calc(1rem * (14 / var(--font-base-default)));
  border: 1px solid var(--color-element-mid);
  border-radius: var(--border-radius-medium);
  color: var(--color-text-dark);
  text-decoration: none;
  background: var(--color-white);
  transition: border-color var(--transition-duration-default)
      var(--transition-easing-default),
    box-shadow var(--transition-duration-short) var(--transition-easing-default);
}

.Card--padding-default {
  padding: calc(1rem * (14 / var(--font-base-default)));
}

.Card--padding-large {
  padding: calc(1rem * (24 / var(--font-base-default)));
}

.Card--padding-none {
  padding: 0;
}

.Card--is-interactive:hover,
.Card--is-interactive:focus {
  outline: none;
  border-color: var(--color-primary);
  cursor: pointer;
}

.Card--is-interactive:focus {
  box-shadow: var(--glow-primary);
}

.Card--is-selected {
  background-color: var(--color-blue-lightest);
  box-shadow: 0px 0px 0px 1px inset var(--color-blue-mid);
  border-color: var(--color-blue-mid);
}

.Card--is-selected:focus {
  box-shadow: var(--glow-primary), 0px 0px 0px 1px inset var(--color-blue-mid);
}
