@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.SectionHeading {
  display: block;
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-demi-bold);
  color: var(--color-text-dark);
  font-size: var(--font-size-s);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin: 0;
}
