@import 'settings/colors';

tbody .TableRow:hover {
  background-color: var(--color-element-lightest);
}

.TableRow--selected {
  background-color: var(--color-blue-lightest);
  border-right: 2px solid var(--color-blue-mid);
}
