@import 'settings/colors';
@import 'settings/typography';

.DropdownList {
  padding: 0;
  margin: 0;
  padding: calc(1rem * (14 / var(--rem-base))) 0;
}

/* For multiple DropdownLists */
.DropdownList + .DropdownList {
  padding: calc(1rem * (7 / var(--rem-base))) 0;
}

/* First DropdownList if multiple */
.DropdownList:first-child:not(:only-child) {
  padding-bottom: calc(1rem * (7 / var(--rem-base)));
}

/* Last DropdownList if multiple */
.DropdownList:last-child:not(:only-child) {
  padding-bottom: calc(1rem * (14 / var(--rem-base)));
}

.DropdownList--border-top {
  border-top: calc(1rem * (1 / var(--rem-base))) solid var(--color-element-mid);
}

.DropdownList--border-bottom {
  border-bottom: calc(1rem * (1 / var(--rem-base))) solid
    var(--color-element-mid);
}
