@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';

.DropdownList {
  padding: 0;
  margin: 0;
  padding: var(--spacing-xs) 0;
}

.DropdownList--border-top {
  border-top: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-element-mid);
}

.DropdownList--border-bottom {
  border-bottom: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-element-mid);
}
