@import 'settings/typography';
@import 'settings/dimensions';

.ControlledInputField {
  display: inline-flex;
}

.ControlledInputField--disabled,
.ControlledInputField--disabled label {
  opacity: 0.7;
  cursor: not-allowed;
}

/** important are used to fix order issue in production build. delete once we move to css-in-js */
.ControlledInputField__input {
  margin-right: var(--spacing-xs) !important;
  margin-top: 4px !important;
}

.ControlledInputField__label {
  margin-bottom: 0;
}

.ControlledInputField__label--light {
  font-weight: var(--font-weight-normal);
}
