@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/borders';

.Tag {
  display: inline-block;
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-demi-bold);
  font-size: calc(1rem * (12 / var(--font-base-default)));
  line-height: 20px;
  max-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.06rem; /*move to tokens or update wide letter spacing token*/
  padding: 0 var(--spacing-xs);
  border-radius: var(--border-radius-small);
}

.Tag--primary {
  color: var(--blue-600);
  background-color: var(--blue-200);
}

.Tag--positive {
  color: var(--green-600);
  background-color: var(--green-200);
}

.Tag--negative {
  color: var(--red-600);
  background-color: var(--red-200);
}

.Tag--warning {
  color: var(--orange-600);
  background-color: var(--orange-200);
}

.Tag--secondary {
  color: var(--gray-700);
  background-color: var(--gray-200);
}

.Tag--muted {
  color: var(--color-text-mid);
  background-color: var(--color-element-lightest);
}

.Tag--primary-filled {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.Tag--featured {
  color: var(--purple-600);
  background-color: var(--purple-200);
}

.Tag--small {
  padding: 3px var(--spacing-2xs);
  font-size: 0.625rem;
  line-height: 0.625rem;
  max-height: 16px;
}
