@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';

.DropdownListItem {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-m);
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  white-space: nowrap;
  display: block;
  position: relative;
  color: var(--color-text-mid);
  font-weight: var(--font-weight-normal);
  margin: 0;
}

.DropdownListItem__button:hover {
  background: var(--color-element-lightest);
}

.DropdownListItem__submenu-toggle {
  padding: 0px;
}

.DropdownListItem__button {
  composes: focus-outline--default from './../../../styles/settings/a11y.css';
  border: none;
  background: transparent;
  font-family: var(--font-stack-primary);
  width: 100%;
  font-size: var(--font-size-m);
  text-align: left;
  padding: 0;
  cursor: pointer;
  color: var(--color-text-mid);
  display: block;
  text-decoration: none;
}

a.DropdownListItem__button:link {
  color: var(--color-text-mid);
}

.DropdownListItem__button__inner-wrapper {
  display: block;
  padding: var(--spacing-xs) var(--spacing-m);
  line-height: 1.5;
  outline: 0;
}

.DropdownListItem--disabled,
.DropdownListItem--disabled button {
  background: var(--color-white);
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background: var(--color-white);
  }
}

.DropdownListItem--active,
.DropdownListItem--active:hover {
  background: var(--color-element-light);
}

.DropdownListItem--active .DropdownListItem__button:hover {
  background: var(--color-element-light);
  cursor: default;
}

.DropdownListItem--title {
  line-height: 1.8;
  padding-bottom: var(--spacing-xs);
}

.DropdownListItem--title,
.DropdownListItem--title:hover {
  color: var(--color-text-dark);
  background: var(--color-white);
  font-size: calc(1rem * (12 / var(--font-base-default)));
  font-weight: var(--font-weight-demi-bold);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
