@import 'settings/animations';
@import 'settings/colors';

.Spinner {
  width: 20px;
  fill: var(--color-text-mid);
}

.Spinner--small {
  width: 14px;
}

.Spinner--large {
  width: 36px;
}

.Spinner--primary {
  fill: var(--color-blue-mid);
}

.Spinner--white {
  fill: var(--color-element-lightest);
}

.circle1--translate {
  animation: circle1-translate 1500ms linear infinite normal forwards;
}
@keyframes circle1-translate {
  0% {
    transform: translate(10px, 33.528168px);
  }
  6.666667% {
    transform: translate(10px, 41.764084px);
  }
  13.333333% {
    transform: translate(10px, 33.528168px);
  }
  26.666667% {
    transform: translate(10px, -2.651608px);
  }
  33.333333% {
    transform: translate(10px, -4.471832px);
  }
  40% {
    transform: translate(10px, -2.651608px);
  }
  53.333333% {
    transform: translate(10px, 33.528168px);
  }
  60% {
    transform: translate(10px, 41.764084px);
  }
  66.666667% {
    transform: translate(10px, 33.528168px);
  }
  100% {
    transform: translate(10px, 33.528168px);
  }
}

.circle1--scale {
  animation: circle1-scale 1500ms linear infinite normal forwards;
}
@keyframes circle1-scale {
  0% {
    transform: scale(1, 1);
  }
  6.666667% {
    transform: scale(1.5, 0.5);
  }
  13.333333% {
    transform: scale(1, 1);
  }
  26.666667% {
    transform: scale(1, 1);
  }
  33.333333% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  53.333333% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.5, 0.5);
  }
  66.666667% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.circle2--translate {
  animation: circle2-translate 1500ms linear infinite normal forwards;
}
@keyframes circle2-translate {
  0% {
    transform: translate(30px, 33.528168px);
  }
  13.333333% {
    transform: translate(30px, 33.528168px);
  }
  20% {
    transform: translate(30px, 41.764084px);
  }
  26.666667% {
    transform: translate(30px, 33.528168px);
  }
  40% {
    transform: translate(30px, -2.651608px);
  }
  46.666667% {
    transform: translate(30px, -4.471832px);
  }
  53.333333% {
    transform: translate(30px, -2.651608px);
  }
  66.666667% {
    transform: translate(30px, 33.528168px);
  }
  73.333333% {
    transform: translate(30px, 41.764084px);
  }
  80% {
    transform: translate(30px, 33.528168px);
  }
  100% {
    transform: translate(30px, 33.528168px);
  }
}
.circle2--scale {
  animation: circle2-scale 1500ms linear infinite normal forwards;
}
@keyframes circle2-scale {
  0% {
    transform: scale(1, 1);
  }
  13.333333% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.5, 0.5);
  }
  26.666667% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  46.666667% {
    transform: scale(1, 1);
  }
  53.333333% {
    transform: scale(1, 1);
  }
  66.666667% {
    transform: scale(1, 1);
  }
  73.333333% {
    transform: scale(1.5, 0.5);
  }
  80% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.circle3--translate {
  animation: circle3-translate 1500ms linear infinite normal forwards;
}
@keyframes circle3-translate {
  0% {
    transform: translate(50px, 33.528168px);
  }
  26.666667% {
    transform: translate(50px, 33.528168px);
  }
  33.333333% {
    transform: translate(50px, 41.764084px);
  }
  40% {
    transform: translate(50px, 33.528168px);
  }
  53.333333% {
    transform: translate(50px, -2.651608px);
  }
  60% {
    transform: translate(50px, -4.471832px);
  }
  66.666667% {
    transform: translate(50px, -2.651608px);
  }
  80% {
    transform: translate(50px, 33.528168px);
  }
  86.666667% {
    transform: translate(50px, 41.764084px);
  }
  93.333333% {
    transform: translate(50px, 33.528168px);
  }
  100% {
    transform: translate(50px, 33.528168px);
  }
}
.circle3--scale {
  animation: circle3-scale 1500ms linear infinite normal forwards;
}
@keyframes circle3-scale {
  0% {
    transform: scale(1, 1);
  }
  26.666667% {
    transform: scale(1, 1);
  }
  33.333333% {
    transform: scale(1.5, 0.5);
  }
  40% {
    transform: scale(1, 1);
  }
  53.333333% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1, 1);
  }
  66.666667% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1, 1);
  }
  86.666667% {
    transform: scale(1.5, 0.5);
  }
  93.333333% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
