@import 'settings/animations';
@import 'settings/colors';

.Spinner {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  animation: rotate-cw 2s infinite linear;
}

.Spinner--small {
  width: 14px;
}

.Spinner--large {
  width: 36px;
}

.Spinner--primary {
  fill: var(--color-blue-mid);
}

.Spinner--white {
  fill: var(--color-element-lightest);
}
