@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/borders';

.Pill {
  display: inline-flex;
  font-family: var(--font-stack-primary);
  border-radius: var(--border-radius-small);
  border: none;
  padding: 0;
  max-width: 100%;
  composes: focus-outline--default from './../../styles/settings/a11y.css';
}

.Pill--deleted {
  background: var(--color-element-light);
  text-decoration: line-through;
  opacity: 0.5;
}

.Pill--idle {
  background: var(--color-element-light);
}

.Pill--active {
  background: var(--color-element-dark);
}

.Pill__label {
  line-height: 1.5rem;
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  flex-grow: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Pill__label--deleted,
.Pill__label--idle {
  color: var(--color-text-base);
}

.Pill__label--active {
  color: var(--color-text-dark);
}

.Pill__close-button {
  border: none;
  border-top-right-radius: var(--border-radius-small);
  border-bottom-right-radius: var(--border-radius-small);
  padding: 0.375rem;
  background: transparent;
  transition: background var(--transition-duration-short)
    var(--transition-easing-default);
  composes: focus-outline--default from './../../styles/settings/a11y.css';

  &:hover,
  &:focus {
    background: var(--color-element-mid);
    cursor: pointer;
  }
}

.Pill__close-button--deleted,
.Pill__close-button--idle {
  border-left: 1px solid var(--color-element-darkest);
}

.Pill__close-button--active {
  border-left: 1px solid var(--color-text-lightest);
  &:hover,
  &:focus {
    background: var(--color-element-darkest);
    cursor: pointer;
  }
}

.Pill__drag-icon {
  line-height: 1.3rem;
  padding: 0.375rem 0.625rem;
  padding-right: 0;
}

.Pill__icon--deleted,
.Pill__icon--idle {
  fill: var(--color-element-darkest);
  vertical-align: middle;
}

.Pill__icon--active {
  fill: var(--color-text-lightest);
  vertical-align: middle;
}
