@import '@contentful/forma-36-tokens/dist/css/colors/colors-blue.css';
@import '@contentful/forma-36-tokens/dist/css/colors/colors-semantic.css';
@import '@contentful/forma-36-tokens/dist/css/colors/colors-text.css';
@import '@contentful/forma-36-tokens/dist/css/colors/colors-white.css';
@import '@contentful/forma-36-tokens/dist/css/spacing.css';

.Icon {
  display: inline-block;
  fill: var(--color-blue-base);
}

.Icon--tiny {
  height: var(--spacing-m);
  width: var(--spacing-m);
}

.Icon--small {
  height: 18px;
  width: 18px;
}

.Icon--medium {
  height: var(--spacing-l);
  width: var(--spacing-l);
}

.Icon--large {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
}

.Icon--trimmed {
  width: auto;
}

.Icon--positive {
  fill: var(--color-positive);
}

.Icon--negative {
  fill: var(--color-negative);
}

.Icon--warning {
  fill: var(--color-warning);
}

.Icon--secondary {
  fill: var(--color-text-mid);
}

.Icon--muted {
  fill: var(--color-text-light);
}

.Icon--white {
  fill: var(--color-white);
}
