@import 'settings/colors';
@import 'settings/transitions';

@import '../TableCell/TableCell.css';

.TableSortingLabel__button {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-weight: inherit;
  font-size: inherit;
  text-align: inherit;
  width: 100%;

  &:hover {
    background-color: var(--color-element-light);
  }

  &:active {
    outline: 0;
  }
}

.TableSortingLabel__button__text {
  padding: var(--spacing-s) var(--spacing-m);
  align-items: center;
  width: 100%;
}

.TableSortingLabel__icon {
  transition: transform var(--transition-duration-default)
    var(--transition-easing-default);
  margin: -5px 0;
}

.TableSortingLabel__icon--asc {
  transform: rotateX(0deg);
}

.TableSortingLabel__icon--desc {
  transform: rotateX(180deg);
}
