@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/borders';
@import 'settings/shadows';

.Toggle {
  display: inline-block;
  background-color: var(--color-white);
  padding: 0;
  border-radius: var(--border-radius-medium);
  border: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-element-dark);
  position: relative;
}

.Toggle--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Toggle--disabled .Toggle__button {
  opacity: 0.5;
  cursor: not-allowed;
}

.Toggle.Toggle--disabled:hover {
  border: 1px solid var(--color-element-mid);
  cursor: not-allowed;
}

.Toggle--active {
  border: 1px solid var(--color-blue-mid);
  background-color: var(--color-blue-lightest);

  box-shadow: 0px 0px 0px 1px inset var(--color-blue-mid);

  & .Toggle__content-wrapper {
    color: var(--color-blue-mid);
  }

  & .Toggle__button__icon {
    fill: var(--color-blue-mid);
  }
}

.Toggle:hover,
.Toggle:focus {
  border: 1px solid var(--color-blue-mid);
}

.Toggle__button {
  composes: focus-outline--default from './../../styles/settings/a11y.css';
  font-family: var(--font-stack-primary);
  cursor: pointer;
  line-height: 1.5;
  font-size: var(--font-size-m);
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
}

.Toggle__button__icon {
  margin: 0 calc(1rem * (3 / var(--font-base-default)));
}

.Toggle__content-wrapper {
  color: var(--color-text-mid);
  margin: 0 calc(1rem * (3 / var(--font-base-default)));
}

.Toggle__button__inner-wrapper {
  align-items: center;
  padding: calc(1rem * (5 / var(--font-base-default)))
    calc(1rem * (7 / var(--font-base-default)));
  display: flex;
}

.Toggle--square {
  width: calc(1rem * (31 / var(--font-base-default)));
  height: calc(1rem * (31 / var(--font-base-default)));
}

.Toggle--square .Toggle__button__inner-wrapper,
.Toggle--square .Toggle__button {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.ToggleGroup {
  display: inline-flex;
  position: relative;
}

.ToggleGroup .Toggle--active {
  z-index: 2;
}

.ToggleGroup .Toggle {
  border-radius: 0;
  display: inline-flex;
  margin-right: -2px;
  margin-left: 1px;

  &:hover,
  &:focus {
    z-index: 2;
  }

  &:first-child {
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    margin-left: 0;
  }

  &:last-child {
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    margin-right: 0;
  }
}
