@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/shadows';

.Toggle {
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 1px inset transparent, var(--box-shadow-default);
  transition: all var(--transition-duration-default)
    var(--transition-easing-default);
}

.Toggle--active {
  box-shadow: 0px 0px 0px 1px inset var(--color-blue-dark),
    var(--box-shadow-default);
}

.Toggle--is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Toggle--is-disabled .Toggle__button {
  opacity: 0.5;
  cursor: not-allowed;
}

.Toggle.Toggle--is-disabled:hover {
  border: 1px solid var(--color-element-mid);
  cursor: not-allowed;
}

.Toggle:hover {
  border: 1px solid var(--color-blue-dark);
}

.Toggle__button {
  composes: focus-outline--default from './../../styles/settings/a11y.css';
  font-family: var(--font-stack-primary);
  cursor: pointer;
  line-height: 1.5;
  font-size: var(--font-size-m);
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
}

.Toggle__button__icon {
  margin: 0 calc(1rem * (3 / var(--font-base-default)));
}

.Toggle__content-wrapper {
  color: var(--color-text-mid);
  margin: 0 calc(1rem * (3 / var(--font-base-default)));
}

.Toggle__button__inner-wrapper {
  align-items: center;
  padding: calc(1rem * (5 / var(--font-base-default)))
    calc(1rem * (7 / var(--font-base-default)));
  display: flex;
}

.Toggle--square {
  width: calc(1rem * (31 / var(--font-base-default)));
  height: calc(1rem * (31 / var(--font-base-default)));
}

.Toggle--square .Toggle__button__inner-wrapper,
.Toggle--square .Toggle__button {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
  height: 100%;
}
