@import 'settings/colors';
@import 'settings/typography';
@import 'settings/dimensions';
@import 'settings/transitions';

.ModalContent {
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-l) var(--spacing-l);
  color: var(--color-text-mid);
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  line-height: var(--line-height-default);
  overflow-y: auto;
  overflow-x: hidden;
}
