@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.FormLabel {
  display: inline-block;
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-paragraph);
  color: var(--color-text-dark);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-default);
  margin-bottom: calc(1rem * (8 / 16));
}

.FormLabel__required-text {
  color: var(--color-text-lightest);
  font-weight: var(--font-weight-normal);
  margin-left: calc(1rem * (4 / 16));
}
