@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/shadows';
@import 'settings/content-width';
@import 'settings/z-index';

.Workbench {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: var(--z-index-workbench);
  overflow-x: hidden;
}

.Workbench__header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: var(--color-element-lightest);
  z-index: var(--z-index-workbench-header);
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  padding: var(--spacing-l);
  border-bottom: 1px solid var(--color-element-darkest);
  box-shadow: var(--box-shadow-default);
}

.Workbench__header-back {
  margin: calc(-1 * var(--spacing-l));
  margin-right: var(--spacing-m);
  border-right: 1px solid var(--color-element-light);
}

.Workbench__header-back-button {
  margin: 0;
  width: 50px;
  height: 69px;
}

.Workbench .Workbench__header-back-button svg {
  fill: var(--color-element-dark);
}

.Workbench .Workbench__header-back-button:hover svg,
.Workbench .Workbench__header-back-button:focus svg {
  fill: var(--color-element-darkest);
}

.Workbench__header-icon {
  margin-right: var(--spacing-m);
  display: flex;
}

.Workbench__header-title {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  flex: 0 1 auto;
}

.Workbench__header-title__heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Workbench__header-description {
  margin-left: var(--spacing-m);
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 2 auto;
}

.Workbench__header-description__text {
  font-family: var(--font-stack-primary);
  color: var(--content-width-text);
  white-space: nowrap;
}

.Workbench__header-actions {
  flex-grow: 1;
  margin-left: var(--spacing-l);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Workbench__content-wrapper {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  position: relative;
  flex-grow: 1;
}

.Workbench__content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--spacing-l);
}

.Workbench__content-inner {
  width: 100%;
  margin: 0 auto;
}

.Workbench__content-inner--default {
  max-width: var(--content-width-default);
}

.Workbench__content-inner--text {
  max-width: var(--content-width-text);
}

.Workbench__content-inner--full {
  max-width: var(--content-width-full);
}

.Workbench__sidebar {
  padding: var(--spacing-l);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
  background-color: var(--color-element-lightest);
}

.Workbench__sidebar--left {
  width: 280px;
  min-width: 280px;
  border-right: 1px solid var(--color-element-darkest);
}

.Workbench__sidebar--right {
  width: 360px;
  min-width: 360px;
  border-left: 1px solid var(--color-element-darkest);
}
