@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.ControlledInput {
  display: inline-block;
  font-size: var(--font-size-m);
}

.ControlledInput--is-disabled {
  cursor: not-allowed;
}
