@import 'settings/dimensions';
@import 'settings/transitions';

.AccordionPanel {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 var(--spacing-m);
  height: 0;
  transition: height var(--transition-duration-default)
      var(--transition-easing-default),
    padding var(--transition-duration-default) var(--transition-easing-default);
}

.AccordionPanel--expanded {
  padding: var(--spacing-xs) var(--spacing-m) var(--spacing-m);
  height: auto;
}
