@import 'settings/dimensions';

.AccordionPanel {
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 var(--spacing-m);
  padding-bottom: 0;
  height: 0;
}

.AccordionPanel--expanded {
  display: block;
  padding: var(--spacing-xs) var(--spacing-m) var(--spacing-m);
  height: auto;
}
