{
  "extends": "../../babel.config.js",
  "presets": [
    [
      "@babel/preset-react",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-env",
    ["@babel/preset-typescript", { "allExtensions": true, "isTSX": true }]
  ]
}
