@import 'settings/typography';
@import 'settings/dimensions';

.ModalControls {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
  width: 100%;
}

.ModalControls--right {
  justify-content: flex-end;
}

.ModalControls.ModalControls--right button {
  margin-right: 0;
  margin-left: var(--spacing-s);

  &:first-child {
    margin-left: 0;
  }
}

.ModalControls button {
  margin-right: var(--spacing-s);

  &:last-child {
    margin-right: 0;
  }
}
