@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/shadows';
@import 'settings/borders';
@import 'settings/z-index';

.DropdownContainer {
  background: var(--color-white);
  box-sizing: border-box;
  border: 0;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-default);
  list-style: none;
  padding: 0;
  /*
   * @todo: Remove this in next breaking change, it's overriden by Popper,
   * who uses absolute positioning
   */
  position: fixed;
  margin: 0;

  z-index: var(--z-index-dropdown);
}

.DropdownContainer > div {
  width: 100%;
}
