@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.DropdownContainer {
  background: var(--color-white);
  box-shadow: var(--box-shadow-default);
  border: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-element-mid);
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 99;
}

.DropdownContainer__submenu {
  position: absolute;
}

.DropdownContainer__container-position--right {
  margin-top: 0;
  top: 0;
  left: 100%;
}

.DropdownContainer__container-position--left {
  margin-top: 0;
  top: 0;
  right: 100%;
}
