@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';

.TextField {
  display: block;
}

.TextField--small {
  width: var(--input-width-small);
}

.TextField--medium {
  width: var(--input-width-medium);
}

.TextField--large {
  width: var(--input-width-large);
}

.TextField--full {
  width: 100%;
}

.TextField__label-wrapper {
  display: flex;
  font-size: var(--font-size-m);
  align-items: center;
}

.TextField__label-link {
  margin-left: auto;
  margin-bottom: calc(1rem * (8 / var(--font-base-default)));
}

.TextField__count {
  flex-grow: 1;
  text-align: right;
}
