@import 'settings/dimensions';
@import 'settings/z-index';

.NotificationsManager {
  max-width: 560px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
  z-index: var(--z-index-notification);
  pointer-events: none;
}

.NotificationsManager__container {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 560px;
  margin: 0 auto;
}

.NotificationsManager__container > div {
  margin-top: 0;
  margin-bottom: var(--spacing-s);
}

.NotificationsManager--top .NotificationsManager__container > div {
  margin-bottom: 0;
  margin-top: var(--spacing-s);
}
