@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/borders';
@import 'settings/shadows';

.NotificationItem {
  display: flex;
  padding: 0;
  transition: transform var(--transition-duration-default)
      var(--transition-easing-default),
    opacity var(--transition-duration-default) var(--transition-easing-default);
  transform: translateY(0);
  color: var(--color-text-dark);
  cursor: default;
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
  border: none;
  border-radius: var(--border-radius-small);
  background: var(--color-white);
  box-shadow: var(--box-shadow-default);
}

.NotificationItem__intent {
  composes: sr-only from './../../styles/settings/helpers.css';
}

.NotificationItem__icon {
  display: flex;
  padding: var(--spacing-m);
  align-items: center;
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.NotificationItem__icon--success {
  background: var(--color-green-dark);
}

.NotificationItem__icon--error {
  background: var(--color-red-dark);
}

.NotificationItem__icon--warning {
  background: var(--color-orange-dark);
}

.NotificationItem__content {
  display: flex;
  flex: 1 1 auto;
  padding: var(--spacing-m);
  border: 1px solid var(--color-element-mid);
  border-left: 0;
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.NotificationItem__text {
  flex-grow: 1;
  margin-right: var(--spacing-s);
}

.NotificationItem__title {
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-2xs);
}

.NotificationItem__body {
  margin-bottom: var(--spacing-2xs);
}

.NotificationItem__dismiss {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  pointer-events: all;
  align-self: flex-start;
}
