@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/borders';
@import 'settings/shadows';

.NotificationItem {
  display: flex;
  padding: var(--spacing-m);
  transition: transform var(--transition-duration-default)
      var(--transition-easing-default),
    opacity var(--transition-duration-default) var(--transition-easing-default);
  transform: translateY(0);
  color: var(--color-text-dark);
  cursor: default;
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
  border: none;
  border-radius: var(--border-radius-small);
  background: var(--color-white);
  box-shadow: var(--box-shadow-heavy);
}

.NotificationItem--success {
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 100%;
    background-color: var(--color-positive);
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  }
}

.NotificationItem--error {
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 100%;
    background-color: var(--color-negative);
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  }
}

.NotificationItem--warning {
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 100%;
    background-color: var(--color-warning);
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  }
}

.NotificationItem__intent {
  composes: sr-only from './../../styles/settings/helpers.css';
}

.NotificationItem__icon {
  display: flex;
  margin-right: var(--spacing-s);
  align-items: flex-start;
}

.NotificationItem__content {
  display: flex;
  width: 100%;
  border-left: 0;
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.NotificationItem__text {
  flex-grow: 1;
  margin-right: var(--spacing-s);
  line-height: 18px; /* hack for alignment of the icon, will be fixed with Typography update */
}

.NotificationItem__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-m);
  margin-bottom: var(--spacing-2xs);
  margin-top: 0;
  line-height: 18px; /* hack for alignment of the icon, will be fixed with Typography update */
}

.NotificationItem__body {
  margin-top: 0;
  margin-bottom: var(--spacing-2xs);
}

.NotificationItem__dismiss {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  pointer-events: all;
  align-self: flex-start;
}
