@import 'settings/typography';

.FieldGroup {
  display: block;
}

.FieldGroup__item {
  display: block;
  margin-bottom: calc(1rem * (8 / var(--font-base-default)));
}

.FieldGroup--is-row {
  display: flex;
}

.FieldGroup--row .FieldGroup__item {
  flex-basis: 100%;
}

.FieldGroup--is-row .FieldGroup__item:not(:last-child) {
  margin: 0 calc(1rem * (8 / var(--font-base-default)))
    calc(1rem * (8 / var(--font-base-default))) 0;
}
