@import 'settings/colors';

.Icon {
  display: inline-block;
  fill: var(--color-blue-base);
}

.Icon--tiny {
  height: 16px;
  width: 16px;
}

.Icon--small {
  height: 18px;
  width: 18px;
}

.Icon--medium {
  height: 24px;
  width: 24px;
}

.Icon--large {
  height: 32px;
  width: 32px;
}

.Icon--trimmed {
  width: auto;
}

.Icon--positive {
  fill: var(--color-positive);
}

.Icon--negative {
  fill: var(--color-negative);
}

.Icon--warning {
  fill: var(--color-warning);
}

.Icon--secondary {
  fill: var(--color-contrast-mid);
}

.Icon--muted {
  fill: var(--gray-500);
}

.Icon--white {
  fill: var(--color-white);
}
