@import 'settings/colors';
@import 'settings/dimensions';

.EditorToolbarDivider {
  display: inline-block;
  height: calc(1rem * (21 / var(--font-base-default)));
  width: calc(1rem * (1 / var(--font-base-default)));
  background: var(--color-element-mid);
  margin: 0 var(--spacing-2xs);
}
