@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';

.Tabs {
  display: flex;
}

.Tab {
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
  color: var(--color-text-lightest);
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 0 var(--spacing-m);
  height: var(--spacing-2xl);
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  font-weight: var(--font-weight-medium);
  outline: none;
  text-decoration: none;
}

.Tabs .Tab:last-child {
  margin-right: 0;
}

.Tab__selected {
  color: var(--color-primary);
}

.Tab__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Tab::before {
  content: '';
  position: absolute;
  background: var(--color-primary);
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}

.Tabs__divider--horizontal {
  box-shadow: inset 0 -2px 0px 0px var(--color-element-dark);
}

.Tabs__divider--vertical .Tab:not(:first-child) {
  box-shadow: inset 1px 0 0px 0px var(--color-element-dark);
}

.Tab:not(.Tab__disabled):hover:before,
.Tab:not(.Tab__disabled):focus:before {
  opacity: 0.5;
}

.Tab__selected:not(.Tab__disabled):hover:before,
.Tab__selected:not(.Tab__disabled):focus:before,
.Tab__selected:not(.Tab__disabled):before {
  opacity: 1;
}
