@import 'settings/transitions';
@import 'settings/colors';
@import 'settings/animations';

.slider {
  width: 80px;
  height: 20px;
  cursor: pointer;
}

.box {
  position: relative;
  left: 0;
  background: var(--color-primary);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slide--transition-duration-short:hover .box {
  transition: var(--transition-duration-short) var(--transition-easing-default);
  left: calc(100% - 20px);
}

.slide--transition-duration-default:hover .box {
  transition: var(--transition-duration-default)
    var(--transition-easing-default);
  left: calc(100% - 20px);
}

.slide--transition-duration-long:hover .box {
  transition: var(--transition-duration-long) var(--transition-easing-default);
  left: calc(100% - 20px);
}

.slide--transition-easing-default:hover .box {
  transition: var(--transition-duration-long) var(--transition-easing-default);
  left: calc(100% - 20px);
}

.slide--transition-cubic-bezier:hover .box {
  transition: var(--transition-duration-long) var(--transition-cubic-bezier);
  left: calc(100% - 20px);
}

.animation-rotate-cw:hover {
  animation: rotate-cw 2s infinite linear;
}
