@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/borders';

.IconButton {
  composes: focus-outline--default from './../../styles/settings/a11y.css';
}

.IconButton .IconButton--small {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.IconButton--large {
  /* Todo: Remove calc() once the 20px icon size is available */
  padding: 0 calc(var(--spacing-s) + 2px);
}

/* Todo: Remove in v4 */
.IconButton--deprecated,
.IconButton--trimmed {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: auto;

  &:hover {
    background-color: transparent !important;
  }
}

.IconButton--disabled {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed;
  }

  &.IconButton--primary:hover {
    & .IconButton__icon {
      fill: var(--color-blue-base);
    }

    color: var(--color-blue-base);
  }

  &.IconButton--positive:hover {
    & .IconButton__icon {
      fill: var(--color-green-base);
    }

    color: var(--color-green-base);
  }

  &.IconButton--negative:hover {
    & .IconButton__icon {
      fill: var(--color-red-base);
    }

    color: var(--color-red-base);
  }

  &.IconButton--secondary:hover {
    & .IconButton__icon {
      fill: var(--color-text-mid);
    }

    color: var(--color-text-mid);
  }

  &.IconButton--muted:hover {
    & .IconButton__icon {
      fill: var(--color-text-light);
    }

    color: var(--color-text-light);
  }
}

.IconButton__icon {
  transition: fill var(--transition-duration-short)
    var(--transition-easing-default);
}

.IconButton:hover .IconButton__icon,
.IconButton:focus .IconButton__icon {
  fill: var(--color-text-dark);
}

.IconButton--primary .IconButton__icon {
  fill: var(--color-blue-base);
}

.IconButton--positive .IconButton__icon {
  fill: var(--color-green-base);
}

.IconButton--negative .IconButton__icon {
  fill: var(--color-red-base);
}

.IconButton--secondary .IconButton__icon {
  fill: var(--color-text-mid);
}

.IconButton--muted .IconButton__icon {
  fill: var(--color-text-light);
}

.IconButton--white .IconButton__icon {
  fill: var(--color-white);
}
