@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.IconButton {
  composes: focus-outline--default from './../../styles/settings/a11y.css';
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0 1px;
  background: transparent;
}

.IconButton__inner {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.IconButton--primary {
  & .IconButton__icon {
    fill: var(--blue-500);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--blue-700);
    }
  }
}

.IconButton--positive {
  & .IconButton__icon {
    fill: var(--green-500);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--green-700);
    }
  }
}

.IconButton--negative {
  & .IconButton__icon {
    fill: var(--red-500);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--red-700);
    }
  }
}

.IconButton--secondary {
  & .IconButton__icon {
    fill: var(--gray-700);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--gray-900);
    }
  }
}

.IconButton--secondary {
  & .IconButton__icon {
    fill: var(--gray-700);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--gray-900);
    }
  }
}

.IconButton--muted {
  & .IconButton__icon {
    fill: var(--gray-500);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--gray-700);
    }
  }
}

.IconButton--white {
  & .IconButton__icon {
    fill: var(--color-white);
  }

  &:hover,
  &:focus {
    & .IconButton__icon {
      fill: var(--gray-200);
    }
  }
}

.IconButton--disabled {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed;
  }

  &.IconButton--primary:hover {
    & .IconButton__icon {
      fill: var(--blue-500);
    }

    color: var(--blue-500);
  }

  &.IconButton--positive {
    & .IconButton__icon {
      fill: var(--green-500);
    }

    color: var(--green-500);
  }

  &.IconButton--negative:hover {
    & .IconButton__icon {
      fill: var(--red-500);
    }

    color: var(--red-500);
  }

  &.IconButton--secondary:hover {
    & .IconButton__icon {
      fill: var(--gray-700);
    }

    color: var(--gray-700);;
  }

  &.IconButton--muted:hover {
    & .IconButton__icon {
      fill: var(--gray-500);
    }

    color: var(--gray-500);
  }
}

.IconButton__icon {
  transition: fill var(--transition-duration-short)
    var(--transition-easing-default);
}


.IconButton__label {
  composes: sr-only from './../../styles/settings/helpers.css';
}

.IconButton__dropdown {
  height: calc(1rem * (10 / var(--font-base-default)));
  width: calc(1rem * (10 / var(--font-base-default)));
  margin-left: calc(
    -1rem * (5 / var(--font-base-default))
  ); /* Optical adjustment, to be revised */
}
