@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';
@import 'settings/shadows';

.EntryCard {
  display: flex;
  position: relative;
  box-sizing: border-box;
  font-family: var(--font-stack-primary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-default);
  color: var(--color-text-dark);
  transition: box-shadow var(--transition-duration-short)
      var(--transition-easing-default),
    border-color var(--transition-duration-default)
      var(--transition-easing-default);
}

.EntryCard__header {
  padding: var(--spacing-xs) var(--spacing-m);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--color-element-mid);
}

.EntryCard--size-default {
  height: calc(1rem * (136 / var(--font-base-default)));
}

.EntryCard--size-small {
  height: calc(1rem * (90 / var(--font-base-default)));
}

.EntryCard--size-auto {
  min-height: calc(1rem * (90 / var(--font-base-default)));
}

.EntryCard__wrapper {
  flex: 1 1 0;
  overflow: auto;
}

.EntryCard__skeleton-wrapper {
  padding: var(--spacing-m);
}

.EntryCard--drag-active {
  box-shadow: var(--box-shadow-heavy);
}

.EntryCard--is-loading {
  overflow: hidden;
}

.EntryCard__content-type {
  flex: 1 1 0;
  padding-right: var(--spacing-m);
  margin-bottom: 0;
  color: var(--color-text-light);
  font-size: var(--font-size-m);
  word-break: break-word;
}

.EntryCard__icon {
  margin-right: var(--spacing-xs);
}

.EntryCard__actions {
  margin-left: var(--spacing-xs);
}

.EntryCard__content {
  display: flex;
  padding: var(--spacing-s) var(--spacing-m);
}

.EntryCard__body {
  flex: 1 1 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.EntryCard__title {
  margin: 0;
  font-size: var(--font-size-l);
  line-height: var(--line-height-default);
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--color-text-dark);
  font-weight: var(--font-weight-medium);
}

.EntryCard__description {
  margin: var(--spacing-xs) 0 0;
  line-height: var(--line-height-default);
  word-break: break-word;
  white-space: initial;
  font-size: var(--font-size-l);
  color: var(--color-text-dark);
}

.EntryCard__thumbnail {
  height: 70px;
  width: 70px;
  background-color: var(--color-element-lightest);
  margin: 0 0 0 var(--spacing-s);
  padding: 0;
}

.EntryCard__thumbnail img {
  display: block;
}

.EntryCard__actions {
  margin-left: var(--spacing-s);
}
