@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.ValidationMessage {
  display: flex;
  align-items: center;
}

.ValidationMessage__icon {
  margin-right: calc(1rem * (7 / var(--font-base-default)));
  margin-bottom: calc(1rem * (1 / var(--font-base-default)));
}

.ValidationMessage__text {
  display: inline-block;
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  color: var(--color-negative);
  margin: 0;
  line-height: var(--line-height-default);
}
