@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/dimensions';

.ValidationMessage {
  display: flex;
}

.ValidationMessage__icon {
  margin-right: var(--spacing-xs);
  margin-top: calc(var(--spacing-2xs) / 2);
  min-height: 18px;
  min-width: 18px;
}

.ValidationMessage__text {
  display: inline-block;
  font-size: var(--font-size-m);
  font-family: var(--font-stack-primary);
  color: var(--color-negative);
  margin: 0;
  line-height: var(--line-height-default);
}
