@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';

.AssetCard {
  display: inline-block;
  padding: 0px;
  min-width: calc(1rem * (240 / var(--rem-base)));
  min-height: calc(1rem * (80 / var(--rem-base)));
}

.AssetCard__asset {
  height: 247px;
}

.AssetCard__header {
  padding: 0 calc(1rem * (19 / var(--rem-base)));
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: calc(1rem * (1 / var(--rem-base))) solid
    var(--color-element-mid);
}

.AssetCard__header__dropdown-button {
  border: none;
  background: transparent;
  display: flex;
  padding: 0px;
  cursor: pointer;
  margin-left: calc(1rem * (10 / var(--rem-base)));
}

.AssetCard__header__dropdown-button svg {
  /* This needs to be set for IE11 to show the icon */
  width: 18px;
}
