@import 'settings/colors';
@import 'settings/typography';
@import 'settings/transitions';
@import 'settings/shadows';

.AssetCard {
  height: calc(1rem * (300 / var(--font-base-default)));
  display: inline-flex;
  padding: 0px;
  min-width: calc(1rem * (240 / var(--font-base-default)));
  transition: box-shadow var(--transition-duration-short)
      var(--transition-easing-default),
    border-color var(--transition-duration-default)
      var(--transition-easing-default);
}

.AssetCard--size-small {
  height: calc(
    1rem * (188 / var(--font-base-default))
  ); /* 188 is equal to our 142px small variant plus the height of the card header */
  min-width: calc(1rem * (142 / var(--font-base-default)));
}

.AssetCard--size-small .AssetCard__asset {
  height: calc(1rem * (142 / var(--font-base-default)));
  width: calc(1rem * (142 / var(--font-base-default)));
}

.AssetCard--drag-active {
  box-shadow: var(--box-shadow-heavy);
}

.AssetCard__asset {
  height: calc(
    1rem * (254 / var(--font-base-default))
  ); /* 254 Height of the container substracted by the border width of the header */
}

.AssetCard__wrapper {
  flex: 1 1 auto;
}

.AssetCard__header {
  padding: 0 calc(1rem * (14 / var(--font-base-default)));
  height: calc(1rem * (45 / var(--font-base-default)));
  display: flex;
  align-items: center;
  border-bottom: calc(1rem * (1 / var(--font-base-default))) solid
    var(--color-element-mid);
}

.AssetCard__actions {
  margin-left: calc(1rem * (10 / var(--font-base-default)));
}
