name: Changelog

on:
  push:
    branches:
      - "changesets"
  # schedule:
  #   - cron: "30 1 * * *"

jobs:
  daily:
    if: ${{ 'contentful/forma-36' == github.repository }}
    name: Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Get Yarn cache path
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: changesets

      - name: Setup Node.js 14.15.0
        uses: actions/setup-node@v2
        with:
          node-version: 14.15.0

      - name: Load Yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Setup Git
        run: |
          git config user.name "${{ secrets.GH_USER }}"
          git config user.email "${{ secrets.GH_EMAIL }}"

      - name: Generate the new changelog
        run: yarn changelog:write

      - name: Commit changelog
        run: yarn changelog:commit
